:root {
    --color-background-dark: #333;
    --color-text-light: white;
    --color-text-red: red;
    --color-background-brown: brown;
    --color-background-green: green;
    --color-background-darkgreen: #004d00;
    --color-text-lightgreen: #ccffcc;
    --color-background-hovergreen: #006600;
    --color-text-hovergreen: #124004;
    --color-background-darkblue: darkblue;
    --color-background-lightblue: lightblue;
    --color-text-blue: blue;
    --color-border-gray: gray;
    --color-border-black: black;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

header {
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    text-align: center;
    font-size: 2em;
    line-height: 1.2em;
    margin: 10px;
    padding: 10px;
}

footer {
    background-color: var(--color-background-dark);
    color: var(--color-text-light);
    text-align: center;
    margin: 5px;
    padding: 10px;
}

section {
    margin: 10px;
}

article {
    margin: 10px;
    padding: 10px;
    border: 2px dashed var(--color-border-gray);
}

p {
    margin: 10px;
}

h1 {
    text-align: center;
    color: var(--color-text-red);
    font-size: 2em;
    text-transform: lowercase;
}

h2 {
    padding: 10px;
    background-color: var(--color-text-red);
    border-left: 50px solid var(--color-border-black);
    text-transform: capitalize;
}

#info {
    width: 600px;
    background-color: var(--color-background-brown);
    color: var(--color-text-light);
    border-radius: 10px;
    text-align: center;
    font-size: 1.2em;
    line-height: 2em;
    padding: 10px;
    margin: auto;
}

.documentation {
    background-color: var(--color-background-green);
    color: var(--color-text-light);
    padding: 10px;

    a {
        text-decoration: none;
        background-color: var(--color-background-darkgreen);
        color: var(--color-text-lightgreen);
        padding: 5px;

        &:hover {
            background-color: var(--color-background-hovergreen);
            color: var(--color-text-hovergreen);
        }
    }
}

table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    line-height: 2em;

    th {
        background-color: var(--color-background-darkblue);
        color: var(--color-text-light);
        height: 3em;
    }

    td {
        border: 1px solid var(--color-border-black);
        padding: 10px;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: var(--color-background-lightblue);
    }

    tr:last-child {
        color: var(--color-text-blue);
    }
}